[Unit]
Description=uWSGI instance to serve jstat
After=network.target

[Service]
User=www-data
WorkingDirectory=/home/pi/dotjellies/jstat
Environment="PATH=/home/pi/dotjellies/jstat/venv37/bin"
ExecStart=/home/pi/dotjellies/jstat/venv37/bin/uwsgi --ini jstat.ini

[Install]
WantedBy=multi-user.target
