[Unit]
Description=Machine status retrieval

[Service]
User=pi
Type=oneshot
WorkingDirectory=/home/pi/dotjellies/jstat/status
ExecStart=/bin/bash status.sh
